<?php
{{#models}}

namespace {{modelPackage}}{{#model}}{{#vendorExtensions}}{{#x-folder}}\{{.}}{{/x-folder}}{{#x-aggregate}}\{{.}}{{/x-aggregate}}{{/vendorExtensions}}{{/model}}\Model;

final class {{classname}}
{

}
{{/models}}